Using the custom functions from pdfconverter.py, I will scrape the data from all of the pdfs into one single file. Then, I will drop everything other than the Grade and question.

In [1]:
%run -i pdfconverter.py
import os
import pandas as pd

math_files = "Math"
sci_files = "Science"
ela_folder = "ELA_BOOKS"


ela_questions = pdf_txt_retrieval(ela_folder)
math_questions = pdf_txt_retrieval(math_files)
sci_questions = pd.read_csv("mscience_dataset.csv")
sci_questions = sci_questions[['Grade', 'question']]

In [2]:
sci_questions

      Grade                                           question
0         4  Which organism needs to make its own food? (A)...
1         4  Students planted one hundred flower seeds. The...
2         4  Study the data table below. {Alaska-2012-4-10}...
3         4  The chart shows observations of the Moon. {Ala...
4         5  A balloon has a negative charge. A glass rod h...
...     ...                                                ...
2702      8  How many elements are in the compound Mg(OH)2?...
2703      8  Which of these resources will most likely be d...
2704      8  When people exercise, they often feel thirsty ...
2705      8  According to the periodic table, all of the fo...
2706      8  The petals of flowers often are brightly color...

[2707 rows x 2 columns]

In [3]:
math_questions['Grade'] = math_questions['Grade'].str.replace(r'[^0-9]+', '', regex=True)

In [4]:
math_questions

                                                question Grade
0      ak cea ae ieitatet 8 Shak Game ate  lessonj3 a...    10
1      oe crane 141  essont 57 ee aLnink About icpPla...    10
2      5 anes bee are 226  Lesson 91 Practices 97 tae...    10
3                    vii  ad ubiai ie elke cies b ke Ve?    10
4                              sas sae ae 317  PEssOlmi?    10
...                                                  ...   ...
12592  Neither the interquartile range nor the  stand...     9
12593                What is  the complement of event C?     9
12594         Would  the price of the car be an outlier?     9
12595  Use the method of completing the square to  tr...     9
12596  Lesson 111  Modeling with Geometry  CC912GMG1 ...     9

[12597 rows x 2 columns]

In [34]:
ela_questions['Grade'] = ela_questions['Grade'].str.replace(r'[^0-9]+', '', regex=True)

In [35]:
ela_questions

                                                question Grade
0                               How could Doug reach it?    10
1      co 4  He asked me to do him a favor If he fail...    10
2               Would Doug  drop through the same space?    10
3                                        Would I follow?    10
4      When you fall 600 feet do you die before  you ...    10
...                                                  ...   ...
11250  O havent they stopped for the doctors care  Ha...     9
11251  A  Adding Graphics to Your Web Site 628  Aha M...     9
11252  Random House and Little Brown Book Group Limit...     9
11253  CartoonStockcom 682  Peter CiresaIndex Stock I...     9
11254  R171 ART CREDITS  ART CREDITS R171   te Feseby...     9

[11255 rows x 2 columns]

Now lets concatate these three datasets together

In [38]:
subjects = [ela_questions, math_questions, sci_questions]
qxgrade = pd.concat(subjects)

In [40]:
qxgrade.to_csv('QxGrade_Dataset')