Start by importing necessary modules and assigning the dataset to a DF.

In [1]:
import pandas as pd
master_dataset = 'master_dataset.csv'
df = pd.read_csv(master_dataset, skiprows=2976) ##2976 was an error in importing.

In [2]:
df

,0,0.0,3,ELA,Part A What is the meaning of the word scattered as it is used in paragraphs 1 and 2?,Unnamed: 5,Unnamed: 6
0,1.0,1.0,3,ELA,Neat Unpacked Thrown about Leaking Lum...,NaN,NaN
1,2.0,2.0,3,ELA,2 What is the meaning of the secret of Blue Ri...,NaN,NaN
2,3.0,3.0,3,ELA,What is summer?,NaN,NaN
3,4.0,4.0,3,ELA,Is it fresh cut green grass that tickles your ...,NaN,NaN
4,5.0,5.0,3,ELA,Is it hours in the pool that wrinkles your hands?,NaN,NaN
...,...,...,...,...,...,...,...
72506,3457.0,NaN,8,Math,Income more than that is: I > 2000x + 24000 ...,NaN,NaN
72507,3458.0,NaN,8,Math,Use Pythagorean Theorem: a?,NaN,NaN
72508,3459.0,NaN,8,Math,+ b* = c?,NaN,NaN
72509,3460.0,NaN,8,Math,"40 miles See a Ot O00, = Co = 2500 =u = oo = ...",NaN,NaN
72510,3461.0,NaN,8,Math,¥v Mathematics Worksheets Y Online Math Tutor...,NaN,NaN

In [3]:
df.columns

Index(['0', '0.0', '3', 'ELA',
       'Part A  What is the meaning of the word scattered as it is used in paragraphs 1 and 2?',
       'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [4]:
df.rename(columns={"Part A  What is the meaning of the word scattered as it is used in paragraphs 1 and 2?": "Question", 
                   "3": "Grade", 
                   "ELA": "Subject"}, inplace=True)

This function asseses each row, excluding Grade and Subject, and then merges them.

In [5]:
df['Question'] = df.apply(lambda row: ' '.join(row.drop(['Grade', 'Subject']).astype(str)), axis=1)

In [6]:
df

,0,0.0,Grade,Subject,Question,Unnamed: 5,Unnamed: 6
0,1.0,1.0,3,ELA,1.0 1.0 Neat Unpacked Thrown about Leaki...,NaN,NaN
1,2.0,2.0,3,ELA,2.0 2.0 2 What is the meaning of the secret of...,NaN,NaN
2,3.0,3.0,3,ELA,3.0 3.0 What is summer? nan nan,NaN,NaN
3,4.0,4.0,3,ELA,4.0 4.0 Is it fresh cut green grass that tickl...,NaN,NaN
4,5.0,5.0,3,ELA,5.0 5.0 Is it hours in the pool that wrinkles ...,NaN,NaN
...,...,...,...,...,...,...,...
72506,3457.0,NaN,8,Math,3457.0 nan Income more than that is: I > 2000...,NaN,NaN
72507,3458.0,NaN,8,Math,3458.0 nan Use Pythagorean Theorem: a? nan nan,NaN,NaN
72508,3459.0,NaN,8,Math,3459.0 nan + b* = c? nan nan,NaN,NaN
72509,3460.0,NaN,8,Math,"3460.0 nan 40 miles See a Ot O00, = Co = 2500...",NaN,NaN
72510,3461.0,NaN,8,Math,3461.0 nan ¥v Mathematics Worksheets Y Online...,NaN,NaN

Now lets drop all the other columns:

In [7]:
df = df [['Grade', 'Subject', 'Question']]

In [8]:
df['Grade'].isnull().values.any()

np.False_

In [9]:
df['Subject'].isnull().values.any()

np.True_

In [10]:
df['Subject'].isnull().values

array([False, False, False, ..., False, False, False])

In [11]:
print(df.isnull().sum())

Grade           0
Subject     51433
Question        0
dtype: int64

I assume these are the science questions, and as subject labels arent as important, I will fill nulls with SCIENCE.

In [12]:
df = df.fillna("science")

Excellent.  Export the clean dataset into a new file for use.  Reset the index

In [13]:
df.reset_index(drop=True, inplace=True)

In [14]:
df

      Grade Subject                                           Question
0         3     ELA  1.0 1.0  Neat  Unpacked   Thrown about   Leaki...
1         3     ELA  2.0 2.0 2 What is the meaning of the secret of...
2         3     ELA                    3.0 3.0 What is summer? nan nan
3         3     ELA  4.0 4.0 Is it fresh cut green grass that tickl...
4         3     ELA  5.0 5.0 Is it hours in the pool that wrinkles ...
...     ...     ...                                                ...
72506     8    Math  3457.0 nan Income more than that is:  I > 2000...
72507     8    Math     3458.0 nan Use Pythagorean Theorem: a? nan nan
72508     8    Math                       3459.0 nan + b* = c? nan nan
72509     8    Math  3460.0 nan 40 miles  See a Ot O00, = Co = 2500...
72510     8    Math  3461.0 nan ¥v Mathematics Worksheets  Y Online...

[72511 rows x 3 columns]

In [15]:
# Remove all leading numbers, dots, and spaces
df['Question'] = df['Question'].astype(str).str.replace(r'^\s*\d*\.?\d*\s*', '', regex=True)

# Remove "nan" if it appears at the start or end
df['Question'] = df['Question'].str.replace(r'^\s*nan\s*|\s*nan\s*$', '', regex=True)

# Strip any remaining whitespace
df['Question'] = df['Question'].str.strip()

In [16]:
QxGrade_Dataset = df

In [17]:
QxGrade_Dataset

      Grade Subject                                           Question
0         3     ELA  1.0  Neat  Unpacked   Thrown about   Leaking  ...
1         3     ELA  2.0 2 What is the meaning of the secret of Blu...
2         3     ELA                            3.0 What is summer? nan
3         3     ELA  4.0 Is it fresh cut green grass that tickles y...
4         3     ELA  5.0 Is it hours in the pool that wrinkles your...
...     ...     ...                                                ...
72506     8    Math  Income more than that is:  I > 2000x + 24000  ...
72507     8    Math                    Use Pythagorean Theorem: a? nan
72508     8    Math                                      + b* = c? nan
72509     8    Math  40 miles  See a Ot O00, = Co = 2500 =u = oo = ...
72510     8    Math  ¥v Mathematics Worksheets  Y Online Math Tutor...

[72511 rows x 3 columns]

In [19]:
QxGrade_Dataset.to_csv('QxGrade_Dataset.csv', mode="a")